* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243,243,243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 75%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-logo {
    width: 170px;
    padding-bottom: 10px;
}

.instagram-phone img {
    height: 500px;
}

.profile-photo img {
    height: 100px;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: double;border-color: rgb(87,30,19);
    border-radius: 50%;
    overflow: hidden;
}

.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 8px 0;
    border: 1px solid lightgrey;
}

.instagram-login {
    background-color: #df4e32;
    font-weight: bold;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin: 8px;
}

.instagram-logout {
    color: #df4e32;
    font-weight: bold;
    margin-top: 3rem;
    margin: 8px;
}

.link-blue {
    color: blue;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    border-radius: 10px;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url(./img/apple-button.png);
}

.app-download:nth-child(2) {
    background-image: url(./img/googleplay-button.png);
}

/*comando para midias */

@media (max-width:1024px)  {
    .instagram-wrapper{
       width: 90%;
    }
}

@media (max-width: 650px) {
    .instagram-wrapper{
        width: 90%;
     }
     .instagram-phone{
         display: none;
     }
     .instagram-continue {
         width: 100%;
     }
}